@import "../../styles/scss/variable";
.header {

  height: 56px;

  width: 100%;
  overflow: hidden;
  color: $black-text-color;
  background-color: $white-header-color;
  // box-shadow: 10px 10px;
  &__logo{
    float: left;
    overflow: hidden;
    height: 4rem;
    width: 40px;
    font-size: 50px;
    margin: 8px 8px 8px 15px;
    color: $white-header-color;
    border-radius:50%;
    background-color: $blue-color;
  }
  &__search{
    margin: 8px 8px 8px 0px;
    overflow: hidden;
    height: 4rem;
    width: 60%;
     
    float: left;
    border-radius: 20px;
    // border: 1px solid black ;
    background-color: $gray-hover-color;
    &--icon{
      width: 12%;
      float: left;
      font-size: 30px;
      
    }
    &--input{
      background-color: $gray-hover-color;
      float: left;
      width: 80%;
      padding: 10px 0;
      font-size: 15px;
    }
  }
  &__center{
    height: 56px;
    &--item{
      padding: 15px;
      float: left;
      list-style-type: none;
      width: 20%;
      // border: 1px solid black;
      height: 100%;
       
    }
  }
  &__right{
    height: 56px;
    &--info{
      height: 36px;
      width: 25%;
      float: left;
      border-radius:20px;
      overflow: hidden;
      margin: 10px 10px;
      &:hover{
        background-color: $gray-hover-color;
      }
      &-img{
        width: 28px;
        height: 28px;
        margin: 4px 4px;
        border-radius:50%;
        float: left;
        overflow: hidden;
      }
      &-name{
        width: 28px;
        height: 28px;
        float: left;
        font-size: 15px;
        font-weight: bold;
        padding: 11px 0px;
      }
    }
    &--menu,
    &--messenger,
    &--notify,
    &--account{
      width: 4rem;
      height: 4rem;
      float: left;
      margin: 8px 5px; 
      font-size: 20px;
      border-radius: 50%;
      padding: 10px 10px;
      background-color: $gray-hover-color;
    }


  }

}