@import "../../../../styles/scss/variable";
.menu-right {
  overflow-y: auto;
  position: fixed;
  top: 55px;
  right: 0;
  width: 301px;
  max-height: 100vh;

  &::-webkit-scrollbar { 
    width: 8px;
    transition: all 0.25s ease;
  }

  &::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: rgb(189, 186, 186);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  }

  &__reminder {
    font-size: 1.7rem;
    color: $gray-text-color;
    font-weight: 600;
    text-align: left;
    padding-left: 8px;
    margin: 2rem 0 1.7rem;
  }
  &__birthday {
    display: flex;
    align-items: center;
    padding: 0 8px 20px;
    border-bottom: 1px solid #ccc;
    gap: 10px;
    img {
      width: 2.8rem;
      height: 2.8rem;
    }
    p {
      font-size: 1.3rem;
      color: $gray-text-color;
      line-height: 1.4;
      text-align: left;
      margin-right: 50px;

      & > strong:first-child {
        color: rgb(27, 27, 27);
      }
    }
  }
  &__heading {
    display: flex;
    align-items: center;
    padding: 2rem 0.8rem 0;

    .heading__person {
      font-size: 1.7rem;
      color: $gray-text-color;
      font-weight: 600;
      margin: 0 4.6rem 0 0;
    }
    .icon-camera,
    .icon-search,
    .icon-ellipsis {
      $size-square: 3.2rem;
      width: $size-square;
      height: $size-square;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: $gray-text-color;
      font-size: 1.5rem;
      margin-right: 5px;
      cursor: pointer;
      border-radius: 50%;
      transition: all 0.3s ease;

      &:hover {
        background-color: #e1e3e6;
      }
    }
  }

  &__content {
    li {
      display: flex;
      align-items: center;
      padding: 0.8rem;
      border-radius: 8px;
      overflow: hidden;
      transition: all 0.25s ease;
      cursor: pointer;
      &:hover {
        background-color: #e1e3e6;
      }

      p {
        font-size: 1.4rem;
        color: $gray-dark-text-color;
        font-weight: 600;
      }
    }
  }
  
}
