$primary-font: Helvetica, Arial, sans-serif;
$white-header-color: #ffffff;
$gray-background: #f0f2f5;
$blue-color: #1877f2;
$green-color: #42b72a;
$gray-text-color: #606770;
$black-text-color: #303131;
$gray-hover-color: #e4e4e4;
