$primary-font: Helvetica, Arial, sans-serif;
$white-header-color: #ffffff;
$gray-background: #f0f2f5;
$blue-color: #1877f2;
$green-color: #42b72a;
$gray-text-color: #606770;

$black-text-color: #303131;
$gray-hover-color: #f0f2f5;
$gray-button: #e4e6eb;
$gray-dark-text-color: #404246;

